주피터 SQL 엔진 설정

2023년 4월에 Google Colab의 SQLAlchemy 버전이 2.0.10으로 업그레이드되면서 이게 다른 모듈들과 충돌을 내기 시작했습니다. 이 문제 때문에 1.4.47로 다운그레이드하고 Google Colab Runtime을 재시작해주어야 합니다. 2023년 10월에 Google Colab 버전이 또 바뀌면서 다른 문제가 생겨서 ipython-sql 버전도 바꾸어야 합니다.

재설치가 끝나면 하단에 Restart runtime 버튼이 나올텐데 그걸 클릭하고 뒤부터 이어서 실행해주면 됩니다.

In [13]:
!pip install ipython-sql==0.4.1
!pip install SQLAlchemy==1.4.49

Requirement already satisfied: ipython-sql==0.4.1 in c:\users\0630r\anaconda3\lib\site-packages (0.4.1)
Requirement already satisfied: prettytable<1 in c:\users\0630r\anaconda3\lib\site-packages (from ipython-sql==0.4.1) (0.7.2)
Requirement already satisfied: ipython>=1.0 in c:\users\0630r\anaconda3\lib\site-packages (from ipython-sql==0.4.1) (8.25.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\0630r\anaconda3\lib\site-packages (from ipython-sql==0.4.1) (1.4.49)
Requirement already satisfied: sqlparse in c:\users\0630r\anaconda3\lib\site-packages (from ipython-sql==0.4.1) (0.5.1)
Requirement already satisfied: six in c:\users\0630r\anaconda3\lib\site-packages (from ipython-sql==0.4.1) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\0630r\anaconda3\lib\site-packages (from ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: decorator in c:\users\0630r\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql==0.4.1) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\0630r\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\0630r\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\0630r\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql==0.4.1) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\0630r\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql==0.4.1) (2.15.1)
Requirement already satisfied: stack-data in c:\users\0630r\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\0630r\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql==0.4.1) (5.14.3)
Requirement already satisfied: colorama in c:\users\0630r\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.4.6)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\0630r\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql==0.4.1) (3.0.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\0630r\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql==0.4.1) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\0630r\anaconda3\lib\site-packages (from prompt-toolkit<3.1.0,>=3.0.41->ipython>=1.0->ipython-sql==0.4.1) (0.2.5)
Requirement already satisfied: executing in c:\users\0630r\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql==0.4.1) (0.8.3)
Requirement already satisfied: asttokens in c:\users\0630r\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql==0.4.1) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\0630r\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql==0.4.1) (0.2.2)
Requirement already satisfied: SQLAlchemy==1.4.49 in c:\users\0630r\anaconda3\lib\site-packages (1.4.49)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\0630r\anaconda3\lib\site-packages (from SQLAlchemy==1.4.49) (3.0.1)

In [14]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [15]:
%sql postgresql://z630rb:0630Rb!1@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])
No module named 'psycopg2'
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

다양한 SELECT 실행해보기

In [16]:
%%sql

SELECT *
FROM raw_data.user_session_channel;

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [17]:
%%sql

SELECT userId, sessionId, channel
FROM raw_data.user_session_channel;

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [18]:
%%sql

SELECT *
FROM raw_data.user_session_channel
LIMIT 10;

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [ ]:
%%sql

SELECT DISTINCT channel                      -- 유일한 채널 이름을 알고 싶은 경우
FROM raw_data.user_session_channel;

In [ ]:
%%sql

SELECT channel, COUNT(1)                    -- 채널별 카운트를 하고 싶은 경우. COUNT 함수!!
FROM raw_data.user_session_channel
GROUP BY 1;

In [ ]:
%%sql

SELECT COUNT(1)                    -- 테이블의 모든 레코드 수 카운트. COUNT(*). 하나의 레코드
FROM raw_data.user_session_channel;

In [ ]:
%%sql

SELECT COUNT(1)
FROM raw_data.user_session_channel
WHERE channel = 'Facebook';

In [ ]:
%%sql

SELECT
  channel,
  CASE
    WHEN channel in ('Facebook', 'Instagram') THEN 'Social-Media'
    WHEN channel in ('Google', 'Naver') THEN 'Search-Engine'
    ELSE 'Something-Else'
END channel_type
FROM raw_data.user_session_channel
LIMIT 100;

In [ ]:
%%sql

SELECT COUNT(1)
FROM raw_data.user_session_channel
WHERE channel in ('Google','Facebook');

In [ ]:
%%sql

SELECT DISTINCT channel
FROM raw_data.user_session_channel
WHERE channel ILIKE '%o%';

In [ ]:
%%sql

SELECT
    LEN(channel),
    UPPER(channel),
    LOWER(channel),
    LEFT(channel, 4)
FROM raw_data.user_session_channel
LIMIT 100;

CREATE TABLE raw_data.count_test (
    value int
);

INSERT INTO raw_data.count_test VALUES (NULL), (1), (1), (0), (0), (4), (3);

In [ ]:
%%sql

SELECT
    COUNT(1) count_1,
    COUNT(0) count_0,
    COUNT(NULL) as count_null,
    COUNT(value) count_value,
    COUNT(DISTINCT value) count_distinct_value
FROM raw_data.count_test;

In [ ]:
%%sql

SELECT 0 + NULL, 0 - NULL, 0 * NULL, 0/NULL

In [ ]:
%%sql

SELECT
    GETDATE(),
    CONVERT_TIMEZONE('America/Los_Angeles', GETDATE());

In [ ]:
%%sql

SELECT 1/2, 1/2::float;

판다스와 연동하는 방법

In [ ]:
result = %sql SELECT * FROM raw_data.user_session_channel
df = result.DataFrame()

In [ ]:
df.head()

In [ ]:
df.groupby(["channel"]).size()

In [ ]:
df.groupby(["channel"])["sessionid"].count()